<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>Jeff Kealy</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="../vendors/jquery-3.1.1.min.js"></script>
    <script src="../scripts/client.js"></script>
    <script
      type="text/javascript"
      src="//static.queue-it.net/script/queueclient.min.js"
    ></script>
    <script
      data-queueit-c="queuejeff"
      type="text/javascript"
      src="//static.queue-it.net/script/queueconfigloader.min.js"
    ></script>
    <style>
      h1 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>fr-be</h1>
    <h2>French-Belgium</h2>
  </body>
</html>
