<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>FüDr</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="../vendors/jquery-3.1.1.min.js"></script>
    <script src="../scripts/client.js"></script>
    <script
      type="text/javascript"
      src="//static.queue-it.net/script/queueclient.min.js"
    ></script>
    <script
      data-queueit-c="queuejeff"
      type="text/javascript"
      src="//static.queue-it.net/script/queueconfigloader.min.js"
    ></script>
  </head>
  <body>
    <div id="fudr">
      <div class="head">
        <a href="/"><img src="../assets/backIcon.svg" alt="" /></a>
        <h1>FüDr</h1>
      </div>
      <div class="description"></div>
      <div class="videos">
        <div class="home container">
          <h2>Home</h2>
          <p>
            FüDr is an app I created, then recreated twice more. This is version 3, with 4
            on the way. I wanted to create tinder like swipe style app to help decide
            where to eat. The user swipes through dishes and the look though their right
            swipes.
          </p>
          <video controls width="100%">
            <source
              src="https://drive.google.com/uc?export=download&id=1Z1QAcEWaig9dO4Mbw6CAm6x7EpzlDf2B"
              type="video/mp4"
            />
          </video>
        </div>
        <div class="add-dish container">
          <h2>Add Dish</h2>
          <p>
            On the admin side, a dish can be added which first uses the yelp api to look
            up the restaurant, upload a photo, and add the proper criteria to add a dish.
          </p>
          <video controls width="100%">
            <source
              src="https://drive.google.com/uc?export=download&id=1mMzObBwc2pkK3sb3bVN2GJEizDnRrNrr"
              type="video/mp4"
            />
          </video>
        </div>
      </div>
    </div>
  </body>
</html>
