@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Fjalla+One|Palanquin+Dark');

html{
  position: relative;
  min-height: 100%;

}
body{
  background-size: 100%;
  font-family: 'Comfortaa', sans-serif;
  font-weight: bold;
  background-image: url(../assets/fabric_of_squares_gray.png);
  line-height: normal;


}
footer {
  border: 2px solid rgba(145, 147, 145, 0.68);
  background-color: white;
  position: fixed;
  bottom: 0;
  height: 40px;
  overflow: hidden;
  border-radius: 12px;
  margin: 0 0 15px 5px;
}
footer img{
  margin: 5px;
  margin-top: 6px;
  height: 70%;
}
a{
  text-decoration: none;
}

#header{
  background-image: url(../assets/GrayPattern1600x1000.jpg);
  background-size: cover;
  border-radius: 12px;
  margin: 20px 5px 0 5px;
}
#workButton{
  border: none;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  cursor:pointer;
}
#projectsButton{
  border: none;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  cursor:pointer;
}
.navbarDiv{
  padding: 5px;

}
.navbar{
  list-style-type: none;
  display: block;
  padding: 0;
  margin: 0;
  font-size: 18px;
  float: right;

}
.navbar li{
  float: right;
  padding: 12px;

}

.navbar li a{
  text-decoration: none;
  color: rgba(13, 12, 12, 0.8);

}
.imageDiv{
  height: 260px;

}


.imageOfMe{
  height: 250px;
  width: 250px;
  border-radius: 10px;
  float: left;
  margin-left: 1%;


}
.name {
  float: left;
  margin: 30px 30px 30px 30px;
  border-radius: 5px;
  font-family: 'Fjalla One', sans-serif;
}
.name h1{
  margin: 2px;
  font-size: 72px;
  color: rgba(28, 18, 28, 1);
  text-align: left;
  /*text-shadow: 3px 3px rgba(7, 13, 13, 0.54);*/
  font-family: 'Comfortaa', cursive;

}

.aboutMeContainer{
  border-radius: 12px;
  border: 3px solid rgba(145, 147, 145, 0.68);
  text-align: center;
  color: rgba(97, 99, 97, 0.92);
  font-size: 18px;
  padding: 20px;
  margin: 20px 5px 80px 5px;

}
.aboutMeContainer p{
  margin-top: 30px;
  line-height: 2;
}
.aboutMeContent{
  max-width: 1280px;
  margin: 0 auto;
}
.design{
  margin: 0 0 20px;
}
.development-title, .design-title{
  font-weight: 700;
  margin: 0;
  -webkit-text-stroke: 1px rgba(97, 99, 97, 0.92);
}
.aboutMeContent div{
  line-height: 2;
}
.downArrow{
  width: 75px;
  height: 75px;
  text-align: center;
}
.head{
  text-align: center;
  margin: 5px 0 15px 0;
  color: black;

}
.imageThumbnail{
  margin: 15px;
  height: 200px;
  border-radius: 12px;

}

.workContainer h2{
  margin-top: 15px;
  background-color: inherit;
}
.projectsContainer{
  margin-top: 200px;
}
.container:hover{
  background-color: rgba(186, 187, 186, 0.42);
}

.container{
  margin: 5px 5px 10px 5px;
  border-radius: 12px;
  border: 2px solid rgba(145, 147, 145, 0.68);
  background-color: rgba(185, 187, 185, 0.16);
  color: rgba(97, 99, 97, 0.92);
  font-size: 18px;
  padding: 5px;
  display: flex;
  cursor: pointer;
  max-height: 230px;

}
.space-between{
  justify-content: space-between;
}
.description{
  padding: 8px;
}

.footerSpace{
  height: 55px;
}

/*----------------resizing------------------------------------------*/

@media only screen and (max-width: 481px)
{
  html, body {
  overflow-x: hidden;
  max-width: 100%;
  }
  body {
    position: relative;
    text-align: center;
  }
  .navbar{
    list-style-type: none;
    display: inline;
    padding: 0;
    margin: 0;
    font-size: 18px;

  }
  .navbar li{
    padding: 12px;

  }
  .aboutMeContainer{
    border-radius: 12px;
    border: 3px solid rgba(145, 147, 145, 0.68);
    text-align: center;
    color: rgba(97, 99, 97, 0.92);
    font-size: 18px;
    padding: 20px;
    margin: 32px 5px 80px 5px;
    display: inline-block;

  }
  .aboutMeContainer p{
    margin-top: 30px;
  }
  .workContainer p{
    margin: 0;
    padding-right: 0px;
    padding-top: 1%;
    background-color: inherit;
  }
  .container{
    display: block;
    padding: 0 0 5px 0;
  }
  .imageOfMe{
    height: 90%;
    border-radius: 10px;
    margin-left: 12%;
  }
  .imageThumbnail{
    margin: 15px 5px ;
    max-width: 95%;
    border-radius: 12px;

  }
  .description{
    padding: o;
  }

  .description p{
    text-align: left;
    padding: 10px;
  }


}

@media only screen and (min-width: 481px) and (max-width: 900px)
{
  img{
    margin: 0 0 0 15px;
  }
  .description p {
    text-align: left;
    padding-left: 10%;
  }
  .container{
    display: block;
    text-align: center;
  }
}


/*	-------------------------- ANIMATION -------------------------- */

.delay-one {
	-webkit-animation-delay: .5s;
	animation-delay: .5s;
}

.delay-two {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
.delay-three {
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
}


/* FADE IN LEFT */

.animated {
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-40px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(40px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
